<?xml version="1.0" encoding="UTF-8"?>
<!-- ApplicationContext.xml -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<import resource="applicationContextExt.xml" />

	<bean class="tr.com.agem.testapp.genel.AppCtxHolder" />

	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:arya-test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	<bean id="factory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="packagesToScan">
			<list>
				<value>tr.com.agem.testapp.*.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.HSQLDialect </prop>
				<prop key="hibernate.show_sql"> true </prop>
				<prop key="hibernate.transaction.factory_class"> org.hibernate.transaction.JDBCTransactionFactory</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="schemaUpdate">
			<value>true</value>
		</property>
	</bean>
	<bean id="baseDAO" class="tr.com.agem.dao.BaseDAO">
		<property name="sessionFactory">
			<ref bean="factory" />
		</property>
	</bean>
</beans>